{% extends 'pet_care/veterinarian/base.html' %}
{%load crispy_forms_tags%}
{% block title %}Inicio{% endblock %}

{%block nav_inicio%} 
    <li class="nav-item active"><a class="nav-link" href="{% url 'cal:home_veterinarian' %}">PET CARE</a></li>
    <li class="nav-item active"><a class="nav-link" href="{% url 'cal:profile_veterinarian' %}">Ver perfil</a></li>
    <li class="nav-item active"><a class="nav-link" href="{% url 'cal:logout_veterinarian' %}">Logout</a></li>
{% endblock %}

{% block content%}
    <div class='row'>
        <div class='col-lg-4 col-md-4 col-sm-4'>
            <img src="{{image.url}}" height="200" width="200">
        </div>
        <div class='col-lg-6 col-md-4 col-sm-4'>
            <h1> {{ welcome }}</h1>
        </div>
        <div class='col-lg-2 col-md-4 col-sm-4'></div>
    </div>
{% endblock %}