{% extends 'pet_care/veterinarian/base.html' %}
{%load crispy_forms_tags%}
{% block title %}Inicio{% endblock %}

{%block nav_inicio%}
    <li class="nav-item active"><a class="nav-link" href="{% url 'cal:home_veterinarian' %}">PET CARE</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'cal:profile_veterinarian' %}">Actualizar perfil</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'cal:logout_veterinarian' %}">Logout</a></li>
{% endblock %}

{% block content%}
    <div class='row'>
        <div class='col-lg-2 col-md-2 col-sm-12'></div>
        <div class='col-lg-4 col-md-4 col-sm-12'>
            <h4>Top 10 razas de perros mas atendidas</h4>
            {% if lista != None %}
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                Razas de perros
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in lista %}
                            <tr>
                                <td>
                                    {{item.race}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        <div class='col-lg-2 col-md-2 col-sm-12'></div>
        <div class='col-lg-4 col-md-4  col-sm-12'>
            <h4>Opciones para pacientes</h4>
            <button onclick="location.href='{% url 'cita:event_newC' %}'" class="btn btn-primary btn-lg btn-block">Ingresar paciente</button>
        </div>
    </div>
{% endblock %}