{% extends 'pet_care/standard_pages/base.html' %}
{%load crispy_forms_tags%}
{% block title %}INICIO{% endblock %}
{%block servicios%}

	{% csrf_token %}
<li class="nav-item submenu dropdown">
{%if user.is_authenticated %}
	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a class="nav-link" href="">Estado Mascota(en proceso)</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{% url 'cal:event_new' %}">Reservar Cita</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="">Calificar Medico</a>
											</li>
												<li class="nav-item">
												<a class="nav-link" href="">Perfil de usuario</a>
											</li>
											<li class="nav-item">
												<a class="nav-link"  href="{% url 'log:logout' %}">Cerrar Session</a>
											</li>
										</ul>
									</li>

{% else %}


	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">No ha iniciado sesion</a>
										<ul class="dropdown-menu">

											<li class="nav-item">
											<a href="{% url 'log:login' %}">Inicio Sesion</a>
											</li>
										</ul>
									</li>





 {% endif %}

{% endblock %}

{% block content %}
	{%if user.is_authenticated %}

			<form method="POST">
				<h2>Califique a su medico</h2>
                {% csrf_token %}
                {{form_doctor|crispy}}<br>

              	<p><input type="submit" value="Enviar Calificacion" class="btn btn-success">

            </form>

	{% endif %}
{% endblock %}