{%extends "base.html"%}
{% load i18n %}
{% block title%}{%trans "Inbox"%}{%endblock%}
{% block extra_head%}
<script type='text/javascript' src='{{STATIC_URL}}agenda/js/inbox.js'></script>
{%endblock%}
{%block content%}
<h1>{%trans "Agenda"%}</h1>
<h2>{%trans "Events Invites"%}</h2>
{{error_message}}
{%for invite in invites %}
  <div class="invite {%if invite.new_event%}new{%else%}old{%endif%}" id="invite-container-{{invite.id}}">
    <p><strong>{%trans "From:"%}</strong> {{invite.from_user.username}}</p> 
    <p><strong>{%trans "Date:"%}</strong> {{invite.date_created}}</p> 
    <p><strong>{%trans "Event:"%}</strong> <a href="{% url agenda_event_detail invite.event.id %}">{{invite.event.title}}</a></p> 
    <p><strong>{%trans "Attending:"%}</strong> <input type='checkbox' {%if invite.attending%}checked='checked'{%endif%} class='invite_ck' value="{{invite.id}}" id="ck_invite_id.{{invite.id}}"> </p> 
    <p><strong>{%trans "Delete:"%}</strong> <a class='delete_link' id="invite_id.{{invite.id}}" >Delete</a></p> 
  </div>
  {%empty%}
  <strong>{%trans 'No Invites'%}</strong>
{% endfor %}
{%endblock%}
