{% extends 'cal/base.html' %}

{% block title %}Agregar utensilio{% endblock %}
{%block servicios%}
<li class="nav-item submenu dropdown">
										<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios Cliente</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a class="nav-link" href="{% url 'cal:calendar' %}">Calendario Citas Pendientes</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{% url 'cita:calendarC' %}">Diario Atencion</a>
											</li>
	                                        <li class="nav-item">
												<a class="nav-link" href="{% url 'cita:event_newC' %}">Nuevo Diario Atencion</a>
											</li>
                                             <li class="nav-item">
												<a class="nav-link" href="">Perfil</a>
											</li>
											<li>
											<li class="nav-item">
												<a class="nav-link" href="{% url 'cita:Historial' %}">Historial</a>		
											</li>												
											</li>
										</ul>
									</li>
{% endblock %}
{% block content %}
<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Crear utensilio</button>
</form>
{% endblock %}