{% extends 'pet_care/standard_pages/base.html' %}

{% block title %}
GENERACION DE CITAS PARA MASCOTAS
{% endblock %}

{% block inicio%}
                                    <li class="nav-item active">
										<a class="nav-link" href="{% url 'cal:index' %}">INICIO</a>
									</li>
{%endblock%}

{%block servicios%}

	{% csrf_token %}
<li class="nav-item submenu dropdown">
{%if user.is_authenticated %}
		<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a class="nav-link" href="">Estado Mascota(en proceso)</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{% url 'cal:event_new' %}">Reservar Cita</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{% url 'log:calificacion' %}">Calificar Medico</a>
											</li>
												<li class="nav-item">
												<a class="nav-link" href="">Perfil de usuario</a>
											</li>
											<li class="nav-item">
												<a class="nav-link"  href="{% url 'log:logout' %}">Cerrar Session</a>
											</li>
											<li>
											<li class="nav-item">
												<a class="nav-link" href="{% url 'cita:Historial' %}">Historial</a>		
											</li>												
											</li>
										</ul>
									</li>

{% else %}


	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">No ha iniciado sesion</a>
										<ul class="dropdown-menu">

											<li class="nav-item">
											<a href="{% url 'log:login' %}">Inicio Sesion</a>
											</li>
										</ul>
									</li>





 {% endif %}
{% endblock %}
{% block content %}

{% csrf_token %}
{%if user.is_authenticated %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong><br/>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong><br/>
        </div>
    {% endfor %}
{% endif %}

<form method="post">
    <h1>Peticion de Cita </h1><br/>
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}

    <tr><td colspan="2"><button type="submit" class="btn btn-info right"  href="{% url 'cal:index' %}"> Pedir Cita </button></td></tr>
  </table>
</form>
{% else %}
<div class="alert alert-danger">
  <h2><p>No ha iniciado sesion</p></h2>
    <p><a href="{% url 'log:login' %}">Inicio de session</a></p>
</div>
 {% endif %}
{% endblock %}